
<body>
<% if logged_in? %>
  <div class='test'><%= button_to 'Log Out', logout_path %></div>
<% else %>
  <%= button_to 'Log In', login_path %>
<% end %>

<div id='playerone' class='red'>Player 1</div>

<div id='playertwo' class='blue'>Player 2</div>


<!--Grid
  A1 A2 A3
  B1 B2 B3
  C1 C2 C3
-->

<div class='container'>
  <div class='cell a 1' onclick="clickDoStuff()" id=A1></div>
  <div class='cell a 2' id=A2></div>
  <div class='cell a 3' id=A3></div>
  <div class='cell b 1' id=B1></div>
  <div class='cell b 1' id=B2></div>
  <div class='cell b 2' id=B3></div>
  <div class='cell c 3' id=C1></div>
  <div class='cell c 2' id=C2></div>
  <div class='cell c 3' id=C3></div>
</div>
</body>
